django-allauth
psycopg2-binary
whitenoise
gunicorn
dj-database-url
aniso8601
astroid
asttokens
backcall
beautifulsoup4
black
certifi
chardet
charset-normalizer
colorama
decorator
distlib
Django
executing
filelock
flake8
Flask
Flask-RESTful
greenlet
idna
ipython
isort
itsdangerous
jedi
Jinja2
lazy-object-proxy
loguru
MarkupSafe
matplotlib-inline
mccabe
mock
numpy
pandas
parso
passlib
pbr
peewee
pickleshare
platformdirs
prompt-toolkit
pure-eval
pycodestyle
pyflakes
Pygments
pylint
pymongo
python-dateutil
pytz
requests
six
soupsieve
SQLAlchemy
sqlparse
stack-data
stevedore
toml
traitlets
tzdata
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wcwidth
Werkzeug
win32-setctime
wrapt
